<!DOCTYPE html>
 <html>
  <head>
  	<title>BOON</title>
  	 <!-- Media query for narrow browser width -->
	<link rel="stylesheet" media="only screen and (max-width: 480px)" href="styles/mobile.css" />

	<!-- Media query for smartphones -->
	<link rel="stylesheet" media="only screen and (max-device-width: 568px)" href="styles/mobile.css" />


	<!-- Media query for medium browser width -->
	<link rel="stylesheet" media="only screen and (min-width: 481px) and (max-width: 960px)" href="styles/tablet.css" />

	<!-- Media query for tablets -->
	<link rel="stylesheet" media="only screen and (min-device-width : 768px) and (max-device-width : 1024px)" href="styles/tablet.css" />

	<!-- Media query for full browser width -->
	<link rel="stylesheet" media="only screen and (min-width: 961px)" href="styles/desktop.css" />

	<!-- Prevents smartphones from scaling pages down -->
	<meta name="viewport" content="initial-scale=1">
  </head>
  <body>
	<p>
  		THE BOON BLOG
  	</p>
  	<div id="centerImageFrame">
 		<img align="center" src="images/boon.jpg">

    </div>
  	<p>
  		THE WORLD'S NUMBER ONE BLOG
  	</p>
  	<div style="position:fixed; top:0px; min-width:1450px">
 		<a href="http:///www.facebook.com"><img src="images/facebook.jpeg" style="position: absolute;right:0;top:10000" /></a>
 	</div>
 	<h1> Today in boon... </h1>
    <p>
      This is where the blogging will be.  This is where the blogging will be.  This is where the blogging will be.  This is where the blogging will be.  This is where the blogging will be.  This is where the blogging will be.  This is where the blogging will be.  This is where the blogging will be.  This is where the blogging will be.  This is where the blogging will be.  This is where the blogging will be.  This is where the blogging will be.
    </p>k
 	<br>
 	<br>
 	<br>
 	<br>
 	<br>
 	<br>
 	<div id="sports">
 		<img align="center" src="images/typer.gif"/></div>
 	<br><div id="footer">THANKS FOR BOONING
 	<br>COME BACK TOMORROW FOR MORE BOON</div>

 </body>
</html> 