<form method="post" action="/sign-up-process">
  <label for="fname">First Name: </label>
  <input type="fname" name="fname">
  <br>
  <label for="lname">Last Name: </label>
  <input type="lname" name="lname">
  <br>
  <label for="email">E-Mail: </label>
  <input type="email" name="email">
  <br>
  <label for=username">Username: </label>
  <input type="username" name="username">
  <label for="password">Password: </label>
  <input type="password" name="password">
  <input type="submit" value="submit"> 
</form>
<p><If you have already signed up, just dign in below></p><br>